section {
  padding-top: 2rem;
}
section .listHeader {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}
section .listHeader div {
  display: flex;
  gap: 5rem;
}
section .card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px rgb(181, 181, 181) solid;
  transition: all ease 1ms;
}
section .card:hover {
  background-color: rgb(136, 0, 255);
  color: white;
}
section .card .coinImg {
  max-width: 30px;
  max-height: 30px;
}
section .card .coinData {
  display: flex;
  margin-left: auto;
  gap: 3rem;
}
section .card .coinName {
  margin-left: 5px;
}
section .card .green {
  color: rgb(86, 247, 86);
}
section .card .red {
  color: rgb(255, 57, 57);
}