.trending {
    padding-left: 10px;
    .trendingCards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 2px 5px;

        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        
        .trendingCard {
            background-color: grey;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            padding: 8px;
            height: 120px;
            width: 120px;

            .cardRowA {
                display: flex;
                align-items: center;

                gap: 5px;
                .coinImg {
                    max-height: 35px;
                    max-width: 35px;
                    border-radius: 15px;
                }
                .coinName {
                    margin: 0;
                }
            }
        }
    }
}
@media (min-width: 1120px) {
    .trendingCards {
        justify-content: center;
        overflow-x: hidden !important;
    }
}
